.animate-orbit {
  animation: orbit-move 2.8s linear infinite;
}

@keyframes orbit-move {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(5px, -6px);
  }
  40% {
    transform: translate(10px, 0px);
  }
  60% {
    transform: translate(5px, 6px);
  }
  80% {
    transform: translate(-5px, 6px);
  }
  100% {
    transform: translate(0, 0);
  }
}
